<footer class="text-center text-lg-start bg-light text-muted w-100" style="position: fixed; bottom: 0; left: 0;">
   
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://github.com/gmkoeb/blog">github.com/gmkoeb</a>
    </div>

  </footer>
