<div class="">
  <nav
    class="w-100 navbar navbar-expand-lg navbar-brand bg-light py-5 d-flex flex-row"
  >
    <a
      class="navbar-brand mx-5"
      style="font-size: 2rem; letter-spacing: 0.4rem; color: slategray; padding-left: 7rem;"
      >DAILY JOURNAL</a
    >
    <div
      class="collapse navbar-collapse d-flex flex-row-reverse"
      id="navbarNav"
    >
      <ul
        class="navbar-nav"
        style="
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
          letter-spacing: 0.4rem;
          margin-right: 10rem;
          gap: 3rem;
        "
      >
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
